@import "variables.scss";

.form {
  padding: 20px;
  background-color: $primary-color;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  &__label {
    text-transform: uppercase;
    font-size: 14px;
    text-shadow: $text-shadow;
  }

  &__input {
    padding: 15px 25px;
    border-radius: 5px;

    &_btn {
      display: block;
      width: 200px;
      text-align: center;
      background: radial-gradient(
        circle,
        rgb(243 170 237) 0%,
        $terziary-color 100%
      );
      color: inherit;
      text-transform: uppercase;
      cursor: pointer;
      text-shadow: $text-shadow;
    }
  }

  &__output {
    height: 200px;
    overflow-y: auto;
    padding: 10px;
  }

  &__text {
    background-color: $terziary-color;
  }
}
