@import "variables.scss";

.form {
  padding: 20px;
  background-color: $primary-color;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  &__label {
    text-transform: uppercase;
    font-size: 14px;
    text-shadow: $text-shadow;
  }

  &__input {
    padding: 15px 25px;
    border-radius: 5px;

    &_btn {
      display: block;
      width: 200px;
      text-align: center;
      background: radial-gradient(
        circle,
        rgb(243 170 237) 0%,
        $terziary-color 5%
      );
      color: inherit;
      text-transform: uppercase;
      cursor: pointer;
      text-shadow: $text-shadow;
      transition: 0.4s;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 0;
        height: 0;
        background: radial-gradient(
          circle,
          rgb(243 170 237) 0%,
          $terziary-color 100%
        );
        opacity: 0.4;
        transition: 0.4s;
      }

      &:hover:disabled {
        cursor: not-allowed;
      }

      &:hover:not(:disabled)::after {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__output {
    height: 200px;
    overflow-y: auto;
    padding: 10px;
    border-radius: 15px;
  }

  &__text {
    background-color: $terziary-color;
  }
}
